################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BotGestaoDefeitos/bin
/BotGestaoDefeitos/obj
/packages
/BotGestaoDefeitos/.vs
