<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>

    <add key="log4net.Internal.Debug" value="true"/>
    <add key="path" value="C:\Vitor\Arquivos"/>
    <add key="user" value="MS_NH6arJ@trial-v69oxl5jd1z4785k.mlsender.net"/>
    <add key="password" value="mssp.SgYQnC9.z86org8kqengew13.etKJJNP"/>
    <add key="host" value="smtp.mailersend.net"/>
    <add key="port" value="587"/>
    <add key="remetente" value="hally.mara@gmail.com"/>
    <add key="destinatario" value="hally.mara@gmail.com"/>
    <add key="pathaux" value="C:\Vitor\ArquivoEmail.xlsx"/>


  </appSettings>
</configuration>