<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="Processamento.Geral.Info" />
      <appender-ref ref="Processamento.Geral.Erro" />
    </root>
    <appender name="Processamento.Geral.Info" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Processamento.Geral.Info.xml" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <threshold value="INFO"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="INFO" />
      </filter>
      <filter class="log4net.Filter.DenyAllFilter"/>
    </appender>

    <appender name="Processamento.Geral.Erro" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Processamento.Geral.Erro.xml" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <threshold value="ERROR"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="ERROR" />
      </filter>
      <filter class="log4net.Filter.DenyAllFilter"/>
    </appender>
    <logger name="Processamento.Geral.Info">
      <level value="INFO" />
      <maximumfilesize value="256KB" />
      <param value="INFO" name="Threshold" />

      <appender-ref ref="Processamento.Geral.Info" />
    </logger>
    <logger name="Processamento.Geral.Erro">
      <level value="ERROR" />
      <maximumfilesize value="256KB" />
      <param value="ERROR" name="Threshold" />
      <appender-ref ref="Processamento.Geral.Erro" />
    </logger>
  </log4net>
</configuration>